DUMMY1
DUMMY2
DUMMY3
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align/monotonic_align
vits/dataset/wavs/*
dataset/wavs/voice_1.wav
dataset/wavs/voice_2.wav
dataset/wavs/voice_3.wav
dataset/wavs/voice_4.wav
dataset/wavs/voice_5.wav
vits_env/
vits_env/Include
vits_env/Lib
vits_env/Scripts
vits_env/Library
vits_env/bin
vits_env/share
vits_env/pyvenv.cfg